<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
</head>


<body style="background-color: black; color: white;">

   






    <div id="exc"> 
        <!--modificador LAZY que so alterar o campo quando sai da seleção-->
        <input v-model.lazy="nome" />
        <textarea v-model="mensagem"></textarea>
        <p>{{nome}}</p>
        <p>{{mensagem}}</p>
        <br>
        <!--CheckBox-->
        <input type="checkbox" v-model="receberEmail" id="receberEmail" />
        <label for="receberEmail">Receber Email</label><br />
        <input type="checkbox" v-model="termos" id="termos" />
        <label for="termos">Termos e Condições</label>
       
        <br>
        <p>receberEmail: {{receberEmail}}</p>
        <p>termos: {{termos}}</p>
        <!--radio-->
        <br>
        <input type="radio" v-model="cor" value="blue" id="azul" />
        <label for="azul">Azul</label><br />
        <input type="radio" v-model="cor" value="Vermelho" id="vermelho" />
        <label for="vermelho">Vermelho</label>
      
        <p>cor: {{cor}}</p>
        <br>
        <div>
            <select v-model="fruta" >
                <option disabled value="" >Selecione uma fruta</option>
                <option value="banana">Banana</option>
                <option value="morango">Morango</option>
                <option value="uva">Uva</option>
            </select>
            {{fruta}}
        </div>
    </div>

    <script>
        
        
        const exc = new Vue({
            el: "#exc",
            data: {
                nome: "ola",
                mensagem: "escreva o nome",
                receberEmail: true,
                termos: false,
                cor: "",
                fruta: ''

            }
            
        }); 


       

      

    </script>
     <style>
       

        ul {
            display: flex;
            flex-wrap: wrap;
            font-family: monospace;
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        .column {
            flex-direction: column;
        }
        li {
            padding: 20px;
            background: #84e;
            color: white;
            border-radius: 4px;
            margin: 10px;
            flex: 1;
            text-align: center;
        }
    </style>
</body>
</html>